extends layout 

block content 
  section(class='category-section')
    h1= title
    p #{category.description}
    ul(class='item-list')
      each item in items_list
        li 
          a(href=item.url) #{item.name}
      else 
        li There are no items.

    a(href=category.url+'/delete') Delete
    a(href=category.url+'/update') Update