extends layout 

block content 
  section(class='form-section')
    form(action="", method="POST")
      fieldset(class='floating-label')
        input(type="text", name="item_name", placeholder='', id='item_name', value=(item===undefined ? '' : item.name)) 
        label(for="item_name") Name of the item
        if errors
          span #{errors[0].msg}
      fieldset(class='floating-label')
        textarea(name="item_description", cols="30", rows="5", id="item_description", placeholder="") #{item===undefined ? '' : item.description}
        label(for="item_description") Description of the item
        if errors
          span #{errors[1].msg}
      fieldset 
        label(for="categories") Categories:    
        select(type="select", name="item_category", id="categories")
          each category in categories
            option(value=category._id, selected=category.selected) #{category.name}
        if errors
          //- span #{errors[2].msg}    
      fieldset(class='floating-label') 
        input(type="number", name="item_price", id="item_price", value=(item===undefined ? 0 : item.price), min=0)
        label(for="item_price") Item 
        if errors
          //- span #{errors[3].msg}
      fieldset(class='floating-label') 
        input(type="number", id="item_stock", name="item_stock", value=(item===undefined ? 0 : item.stock), min=0)
        label(for="item_stock") Item stock
        if errors
          //- span #{errors[4].msg}
      button(type="submit") Submit